REACT_APP_API_URL=http://localhost:3019/api
REACT_APP_API_KEY=SUK4NK1NI-E4SYKEY
FRONTEND_URL=http://localhost:3000
BASE_URL=http://localhost:9000
# Database MYSQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sukankini

APP_EMAIL=hendragerta@gmail.com
APP_PASSWORD=gqjd derr oqhs fsen

# Server
PORT_API=3019


JWT_SECRET=your-secret-key
API_KEY=SUK4NK1NI-E4SYKEY