REACT_APP_API_URL=http://localhost:9000/api
REACT_APP_API_KEY=SUK4NK1NI-E4SYKEY

# Database MYSQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=sukankini

APP_EMAIL=your@email.com
APP_PASSWORD=YourPasswordApplication 

# Server
PORT_API=9000

JWT_SECRET=your-secret-key
API_KEY=SUK4NK1NI-E4SYKEY
